<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BundleInformation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BundleInformationSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BundleInformationUniversal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>874D9BE61CA1B68A009D2E04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>874D9BFA1CA1B68A009D2E04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>874D9C051CA1B68A009D2E04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>874D9C1C1CA1B6A3009D2E04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>874D9C251CA1B6A3009D2E04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>874D9C3D1CA1C568009D2E04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
